
/* heather */
*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
header{ 
    display: flex;

    background-color: #343a40!important;
}

header{ 
    display: flex;
    width: 100%;
    background-color: #343a40;
}

a{
    color: white;
    text-decoration: none;

}

footer {
    background-color: #333;
    position: fixed;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: auto;
    margin: auto;
    bottom: 0;
}

#navbarNav li {
    margin-right: 15px;
}

.titulo{
    font-family: Arial, sans-serif;
	font-size: 1.4rem;
	font-weight: bold;
	text-transform: uppercase;
    display: block;
    margin-top: 0.4em;
    margin-left: 0.7em;
    color: white;
    
}

.carrito{
    position: absolute;
    right: 10px;
    top: 100px;
    left: 400px;
}
.navbar-toggler{
    float: left;
    padding: 10px;
    
    margin: auto;
    position: relative;
    max-width: 60px;


}

#navbarNav {
    position: absolute;
    background-color: white;
    z-index: 1;
    background-color: #343a40;
    width: 100%;
    margin-top: 2.6em;
    
}

.boton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: auto;
    font-size: 16px;
    border-radius: 12px;
    width: 60px;
    height: 60px;
}


@media (min-width: 1000px) {
*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
#navbarNav {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #343a40 ;
    width: auto;
    margin-top: auto;
    
}
.boton{
color: aqua;

}
body {
    background-color: #f8f9fa;}


.navbar-toggler {
    display: none ;
}
header{ 
    display: flex;
    width: 100%;
    background-color: #343a40;
    justify-content: center;
    
}

a{
    color: white;
    text-decoration: none;

}
.titulo{
    font-family: Arial, sans-serif;
	font-size: 1.4rem;
	font-weight: bold;
	text-transform: uppercase;
    display: block;
    margin-top: 0.7em;
    margin-left: 0.7em;
    color: white;

    
}

ul{
    position: relative;
    display: flex;
    list-style-type: none;
    margin: auto;
    text-decoration: none;
    margin-left: 1em;
    margin: auto;
    
}
li{
    padding: 5px;
    margin-top: 10px;
    
    

}

.carrito{
    position: relative;
    margin-top: 1em;
    top: 0;
    left: 0;
    position: relative;
    right: 0;
    text-align: center;
    text-decoration: none;
    text-align: center;
    
    

}


.boton{
    display: none;



}}
/* fin de heather */


form {
    font-size: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
    margin-top: 3em;
    
}

  
input[type="text"], input[type="password"], input[type="email"] {
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
		
  }

  input[type="submit"] {
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	background-color: lightblue;
  }


body {
    font-family: Arial, sans-serif;
    

	background-size: cover;
  }

@media (max-width: 600px) {
    .contenedor {
        width: 100%;
        margin: 20px auto;
        box-sizing:border-box
    }
}