{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  
  <title>Maple</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type='text/css' rel="stylesheet" href='{% static "css/nosotros.css" %}'>

</head>
<body>
  <!-- Header -->
  <div class="titulo" >
    <a href="{% url 'index' %}">Maple</a>
  </div>
  <ul id="navbarNav" class="collapse">
        <li><a href="{% url 'catalogo' %}">Productos</a></li>
        <li><a href="{% url 'blog' %}">Blog</a></li>
        <li><a href="{% url 'contacto' %}">Contacto</a></li>
        <li><a href="{% url 'login_registro' %}">Ingresar</a></li>
      <div class="search-bar">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar">
        <button class="btn btn-success" type="submit">Buscar</button>
        <a href="">
          <img class="imgca" src='{% static "imgs/carrito.png" %}' alt="carrito" height="50px" >
        </a>
        
      </div>
    </nav>  
</header>  
  </header>

  <!-- Content -->
  <div class="container">
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent iaculis lectus eu justo bibendum, eu tempor dui dapibus. Aliquam eu leo vel justo auctor bibendum. Proin iaculis viverra orci, vel commodo purus rhoncus non. Duis non tristique dolor, in commodo dolor. Nullam auctor, mauris a lacinia faucibus, purus odio finibus mauris, nec blandit est purus vel tellus. Integer viverra turpis ac odio pellentesque dapibus.</p>
    <p>Vivamus non mi non orci commodo bibendum. Sed sit amet ex vel turpis convallis placerat eu eu dolor. Nulla sit amet nulla a velit consectetur laoreet eu quis nunc. Integer pulvinar nibh ac diam convallis, vel dignissim metus semper. Proin efficitur feugiat est, in pulvinar nulla. Maecenas et quam eu tellus interdum lobortis. Curabitur sagittis suscipit velit, vel blandit nibh placerat quis. Sed tincidunt euismod ligula, sit amet gravida nulla. Sed posuere, lorem eu varius tempor, orci enim maximus nulla, non gravida dolor enim ut felis. Donec efficitur vitae dolor non malesuada. Curabitur non risus justo.</p>
  </div>

  <!-- Footer -->
  <footer>
    <p>&copy; 2023 Maple</p>
  </footer>
  </body>
  </html>
          <!-- Bootstrap JS -->
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1PiJB6Tw"
            crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        </body>
        </html>
