{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  
  <title>Maple</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
    <link type='text/css' rel="stylesheet" href='{% static "css/suscripciones.css" %}'>
</head>

<body>
  <!-- Header -->
  <div class="titulo" >
    <a href="{% url 'index' %}">Maple</a>
  </div>
  <ul id="navbarNav" class="collapse">
    <li><a href="{% url 'catalogo' %}">Productos</a></li>
        <li><a href="{% url 'blog' %}">Blog</a></li>
        <li><a href="{% url 'contacto' %}">Contacto</a></li>
        <li><a href="{% url 'login_registro' %}">Ingresar</a></li>
      <div class="search-bar">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar">
        <button class="btn btn-success" type="submit">Buscar</button>
        <a href="">
          <img class="imgca" src='{% static "imgs/carrito.png" %}' alt="carrito" height="50px" >
        </a>
        
      </div>
    </nav>  
</header>

  <!-- Main Content -->
  <section class="py-5">
    <div class="container">
      <h1 class="mb-4">Subscription System</h1>
      <div class="row">
        <div class="col-md-6">
          <h2>Subscribe Now</h2>
          <form>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="plan">Select a Plan</label>
              <select class="form-control" id="plan">
                <option>Monthly - $10/month</option>
                <option>Yearly - $100/year</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Subscribe</button>
          </form>
        </div>
        <div class="col-md-6">
          <h2>Your Current Plan</h2>
          <p
          >You are not subscribed to any plan. Subscribe now to get access to all of our premium features.</p>
          <h2>Cancel Subscription</h2>
          <p>If you want to cancel your subscription, please click the button below:</p>
          <button class="btn btn-danger">Cancel Subscription</button>
        </div>
      </div>
    </div>
</section>
<!-- Footer -->
<footer class="py-3 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">© 2023 Example Website. All rights reserved.</p>
  </div>
</footer>
<!-- Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi94WJ"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNSxgWpie"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>
</body>
</html>