.carousel-item {
    height: 400px;
  }
  .product-col {
    margin-bottom: 20px;
  }
  .filters {
    margin-bottom: 20px;
  }
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    max-width: auto;
    margin: auto;
}
#navbarNav li {
  margin-right: 15px;
}
a{
    text-decoration: none;
} 
nav {
    float: right;
    height: 100%;
    margin-right: 20px;
} 
nav a{
    display: table;
    color: white;
    text-decoration: none;
    font-weight: 600;
    float: left;
} 
nav a:hover{
  color: rgb(102, 131, 94);
}
.search-bar{
    align-items: center;
    display: flex;
} 
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .card {
    margin-bottom: 20px;
  }
  .filters {
    margin-bottom: 20px;
  }
  .product-row {
    display: flex;
    flex-wrap: wrap;
  }
  .product-col {
    padding: 10px;
    flex: 1 0 25%;
  }
  @media (max-width: 575px) {
    .filters .form-group {
      margin-bottom: 10px;
    }
  }
  @media (max-width: 767px) {
    .product-col {
      width: 50%;
    }
  }
  @media (min-width: 768px) {
    .product-col {
      width: 33.33%;
    }
  }
  @media (min-width: 992px) {
    .product-col {
      width: 25%;
    }
  }
  @media (min-width: 1200px) {
    .product-col {
      width: 20%;
    }
  }
  .imgca{
    margin-left: -1em;
  }
  *{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
header{ 
    display: flex;

    background-color: #343a40!important;
}
header{ 
    display: flex;
    width: 100%;
    background-color: #343a40;
}
a{
    color: white;
    text-decoration: none;
}
.titulo{
    font-family: Arial, sans-serif;
	font-size: 1.4rem;
	font-weight: bold;
	text-transform: uppercase;
    display: block;
    margin-top: 0.4em;
    margin-left: 0.7em;
    color: white;   
}
.carrito{
    position: absolute;
    right: 10px;
    top: 100px;
    left: 400px;
}
.navbar-toggler{
    float: left;
    padding: 10px;
    
    margin: auto;
    position: relative;
    max-width: 60px;
}
#navbarNav {
    position: absolute;
    background-color: white;
    z-index: 1;
    background-color: #343a40;
    width: 100%;
    margin-top: 2.6em;
}
.boton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: auto;
    font-size: 16px;
    border-radius: 12px;
    width: 60px;
    height: 60px;
}
@media (min-width: 1000px) {
*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
#navbarNav {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #343a40 ;
    width: auto;
    margin-top: auto;
}
.boton{
color: aqua;
}
.navbar-toggler {
    display: none ;
}
header{ 
    display: flex;
    width: 100%;
    background-color: #343a40;
    justify-content: center;
}
a{
    color: white;
    text-decoration: none;
}
.titulo{
    font-family: Arial, sans-serif;
	font-size: 1.4rem;
	font-weight: bold;
	text-transform: uppercase;
    display: block;
    margin-top: 0.7em;
    margin-left: 0.7em;
    color: white;   
}
ul{
    position: relative;
    display: flex;
    list-style-type: none;
    margin: auto;
    text-decoration: none;
    margin-left: 1em;
    margin: auto;   
}
li{
    padding: 5px;
    margin-top: 10px;
}
.carrito{
    position: relative;
    margin-top: 1em;
    top: 0;
    left: 0;
    position: relative;
    right: 0;
    text-align: center;
    text-decoration: none;
    text-align: center;
}
.boton{
    display: none;
}
}


