{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Maple</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link type='text/css' rel="stylesheet" href="{% static 'css/perfil.css' %}?v=10">
</head>

<body>
    <header>
      {% include 'app/navbar.html' %}
    </header>

    <div class="container">
      <h1>Perfil</h1>  
      <div class="row mt-4">
        <div class="col-md-6">
          <h2>Informacion de perfil</h2>
          <a href="{% url 'userEdit' pk=request.user.rut%}" class="btn btn-primary move-left">Editar perfil</a>
        </div>
        <div class="col-md-6">
          <h2>Informacion de Suscripcion</h2>
          {{ request.user.nombre }} {{ request.user.appPaterno }} {{ request.user.rut }}
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-6">
          <h2>Borrar Perfil</h2>
          <form action="{% url 'userDel' pk=request.user.rut%}" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Borrar Perfil</button>
          </form>
        </div>
      </div>
    </div>
    
  <body>
  
    
  
    <!-- Footer -->
    <footer>
      <p>&copy; 2023 Maple</p>
    </footer>
  
    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
    <!-- Custom JavaScript -->
    <script src='{% static "js/script.js" %}'></script>
  </body>
  
<!-- Footer -->
<footer>
  <p>&copy; 2023 Maple</p>
</footer>
<!-- Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Custom JavaScript -->
<script src='{% static "js/script.js" %}'></script>
</body>
</html>
