{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Maple</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link type='text/css' rel="stylesheet" href="{% static 'css/suscripciones.css' %}?v=10">
</head>

<body>
  <header>
    {% include 'app/navbar.html' %}
</header>


  <!-- Main Content -->
  <section class="py-5">
    <div class="container">
      <h1 class="mb-4">Planes de suscripciones</h1>
      <div class="row">
        <div class="col-md-6">
          <h2>Suscribete ahora</h2>
          <form method="POST" action="{% url 'suscripciones' %}">
            {% csrf_token %}
            <select id="plan" name="plan">
              <option value="" disabled selected>Selecciona un Plan</option>
              {% for plan in plans %}
                <option value="{{ plan.id }}" label="{{ plan.name }} - ${{ plan.price }}">{{ plan.name }} - ${{ plan.price }}</option>
              {% endfor %}
            </select>
            <br>
            {% if request.user.is_authenticated or user.is_superuser %}
            <button type="submit" class="btn btn-primary">Suscribir</button>
            {% else %}
            <p>loguease primero</p>
            {% endif %}
          </form>
        </div>
        <div class="col-md-6">
          <h2>Tu plan Actual</h2>
          {% if subscription %}
            <p>Plan: {{ subscription.plan }}</p>
            <p>Start Date: {{ subscription.start_date }}</p>
            <p>End Date: {{ subscription.end_date }}</p>
          {% else %}
            <p>No se encontro suscripcion asosiada a la cuenta.</p>
          {% endif %}
          {% if subscription %}
          <h2>Cancelar Suscripcion</h2>
          <p>Si quieres cancelar, Porfavor presiona el boton abajo:</p>
          <form method="post" action="{% url 'unsubscribe' %}">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Cancelar suscripcion</button>
          </form>  
          {% else %}
            <p>.</p>
          {% endif %}
            
        </div>
      </div>
    </div>
  </section>
  
<!-- Footer -->
<footer>
  <p>&copy; 2023 Maple</p>
</footer>
<!-- Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Custom JavaScript -->
<script src='{% static "js/script.js" %}'></script>
</body>
</html>
