{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Maple</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link type='text/css' rel="stylesheet" href="{% static 'css/index.css' %}?v=10">
</head>
<body>

  <header>
    {% include 'app/navbar.html' %}
</header>

<body>
    <div class="container">
        <div class="row">
            <div class="col p-5">
                <h1>Lista de Usuarios</h1><br>

                <a href="{% url 'userAdd' %}">
                    <button type="button" class="btn btn-primary">Agregar</button>
                </a>
                <div id="idMensajes">
                    {% if mensaje %}
                    {{mensaje}}
                    {% endif%}
                </div>

                <table class="table table-dark table-striped">
                    {% if usuario %}
                    <thead>
                        <th>Rut</th>
                        <th>Nombre Completo</th>
                        <th>Correo</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </thead>
                    <tbody>
                        {% for user in usuario %}
                        <tr>
                            <td>{{user.rut}}</td>
                            <td>{{user.nombre}} {{user.appPaterno}} {{user.appMaterno}}</td>
                            <td>{{user.correo}}</td>
                            <td><a href="{% url 'userEdit' pk=user.rut%}">Modificar</a></td>
                            <td><a href="{% url 'userDel' pk=user.rut%}">Eliminar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2023 Maple</p>
      </footer>
      
      <!-- Bootstrap JS and jQuery -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      
      <!-- Custom JavaScript -->
      <script src='{% static "js/script.js" %}'></script>
      </body>
      </html>