


@media (min-width: 720px){
    header .conteiner{
        flex-direction: row;
        

    }
    body{
        margin: 0;
        font-family: 'Roboto', sans-serif ;
        
    }
    
    .conteiner{
        max-width: 1400px;
        margin: auto;
       
    }

    nav{
       margin-left: 30%;
       margin-top: -130px;
       position: relative;
       
       justify-content: space-between;
            
    }

    #row{
        flex-direction: row;
        position: relative;

    }

    .logo{
        width: 160px;
        margin-left: 5%;

    }
    .img{
        position: relative;
        margin-left: 90%;
        top: -100px;
    }
  
    #buscador{
        margin-left: 50%;
        margin-top: -30px;

    }

    .contendor2{

        max-width: 1300px;
        margin-right: 1000em;
        margin: auto;
        margin-top: 5%;


    }
    

*{
    box-sizing: border-box;

}



}
